%btn-base {
  padding: 8px 30px;
  border-radius: 4px;
}

// NOTE: button-styles
.btn-main {
  @extend %btn-base;
  color: $white;
  background-color: $main-color;
  transition: opacity 0.2s ease-in;

  &:hover {
    color: $white;
    opacity: 0.7;
  }
}

.btn-outlined {
  @extend %btn-base;
  padding: 7px 30px;
  color: $main-color;
  border: 1px solid $main-color;
  transition: all 0.2s ease-in;

  &:hover {
    color: $white;
    background-color: $main-color;
  }
}

// NOTE: button-size
.btn-40 {
  @include text-style(16);
  height: 40px;
}

.btn-50 {
  @include text-style(16);
  height: 50px;
}
