@mixin text-style-16() {
  font-size: $font-size-16;
  line-height: $line-height-16;
  letter-spacing: $letter-spacing-16;
}

@mixin text-style-30() {
  font-size: $font-size-30;
  line-height: $line-height-30;
  letter-spacing: $letter-spacing-30;
}

@mixin text-style($size, $color: false) {
  @if $size == 16 {
    @include text-style-16;
  }
  @if $size == 30 {
    @include text-style-30;
  }

  @if type-of($color) == color {
    color: $color;
  }
}
