
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml


#aws ignore
src/main/resources/application-dev.properties
src/main/resources/application-prod.properties