%btn-base {
  padding: 8px 30px;
  border-radius: 100px;
}

// NOTE: button-styles
.btn-main {
  @extend %btn-base;
  color: $white;
  background-color: $main-color;
  transition: background-color 0.2s ease-in;

  &:hover {
    color: $white;
    background-color: $secondary;
  }
}

// NOTE: button-size
.btn-40 {
  @include text-style(16);
  height: 40px;
}
