.main-wrap {
  .mainpage {
    position: relative;
    img {
      width: 100%;
    }
    .mainpage-txt {
      position: absolute;
      left: 10%;
      top: 30%;
      font-size: 30px;
    }
  }
}
