.main-wrap {
  .mainpage {
    position: relative;
    /* 슬라이드 */
    .slide {
      img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
        @include responsive(L) {
          height: 30vh;
        }
        @include responsive(M) {
          height: 20vh;
        }
      }
    }
    .room-wrap {
      margin-top: 36px;
      .container {
        max-width: 1024px;
        margin: 0 auto;
        .tab-menu {
          display: flex;
          justify-content: space-between;
          .category-list {
            display: flex;
            li + li {
              margin-left: 20px;
            }
            .category-box {
              background-color: red;
              button {
                display: flex;
                .cate-icon {
                  margin-right: 5px;
                  .all-icon {
                    font-size: 20px;
                  }
                }
              }
            }
          }

          .filter-btn-list {
            display: flex;
            li + li {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}
