/*
 *
 * font
 *
 */

/* 노토산스 서체 - License by : http://www.google.com/fonts/earlyaccess */
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css');

/* 구글 머티리얼 아이콘 */
@import 'material-icons/iconfont/material-icons.scss';

$material-icons-font-path: './' !default;
$material-icons-font-size: 24px !default;
$material-icons-font-display: block !default;
