$font-size-14: 14px;
$line-height-14: 22px;
$letter-spacing-14: -0.01em;

$font-size-16: 16px;
$line-height-16: 24px;
$letter-spacing-16: -0.01em;

$font-size-18: 18px;
$line-height-18: 28px;
$letter-spacing-18: -0.02em;

$font-size-24: 24px;
$line-height-24: 34px;
$letter-spacing-24: -0.01em;

$font-size-30: 30px;
$line-height-30: 40px;
$letter-spacing-30: -0.01em;
