#error-wrap {
  .error {
    .ant-col {
      display: flex;
      background-color: red;
      .error-con-group {
        width: 50%;
        .error-icon-group {
          display: flex;
          .error-icon {
            width: 100px;
            margin-right: 20px;
            padding-top: 10px;
            color: $main-color;
          }
          .error-icon-404 {
            font-size: 100px;
            color: $main-color;
          }
        }
        .error-tit {
          @include text-style(30, $black);
        }
        .error-desc {
          @include text-style(16, $black);
        }
      }
      .error-lottie {
        width: 50%;
        background-color: yellowgreen;
      }
    }
  }
}
