#error-wrap {
  .error {
    .ant-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      margin-top: 80px;
      @include responsive(L) {
        flex-direction: column;
        margin-top: 50px;
      }
      .error-con-group {
        text-align: center;
        .error-icon-group {
          display: flex;
          justify-content: center;
          .error-icon {
            width: 80px;
            margin-right: 20px;
            padding-top: 7px;
            color: $main-color;
          }
          .error-icon-404 {
            font-size: 80px;
            color: $main-color;
          }
        }
      }
      .error-lottie {
        width: 50%;
        margin: 0 auto;
        @include responsive(L) {
          flex-direction: column;
          width: 70%;
        }
        @include responsive(M) {
          flex-direction: column;
          width: 100%;
        }
      }
      .error-tit {
        @include text-style(30, $black);
        margin-top: 10px;
        @include responsive(M) {
          @include text-style(24, $black);
        }
      }
      .error-desc {
        @include text-style(24, $black);
        margin-top: 10px;
        @include responsive(M) {
          @include text-style(16, $black);
        }
      }
      .error-btn {
        margin-top: 30px;
        button + button {
          margin-left: 10px;
        }
        @include responsive(M) {
          button {
            width: 100%;
          }
          button + button {
            margin-left: 0px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
