.header-wrap {
  .ant-layout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    .ant-btn-primary {
      margin-left: 10px;
    }
  }
}
