* {
  padding: 0;
  margin: 0;
  font-family: Noto Sans KR, sans-serif;
  box-sizing: border-box;
}

html {
  /* font-size: 14px; */
  font-family: Noto Sans KR, sans-serif;
  -webkit-text-size-adjust: none;
  /* ios에서 rem이 제대로 적용안되는 문제를 해결하기 위함 */
  box-sizing: border-box;
}

body {
  font-family: Noto Sans KR, sans-serif;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-family: Noto Sans KR, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

span {
  line-height: normal;
}

button {
  background-color: transparent;
  border: 0;
}

.ant-row {
  margin-right: 0px;
  margin-left: 0px;
}

p {
  margin-bottom: initial;
}
